body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    background-color: gray;
    padding: 1em;
    color:white;
}

.errors {
    white-space: pre-line; /*needed for 2 errors to be on separate lines*/
    color: white;
    /* background-color: red; */
    padding: 1em;
    font-weight: 800;
  }

#formGrid {
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 75px 200px 75px 100px;
}

figure {
    background-color: lightgray;
    padding: 1em;
    border-radius: 0.65em;
    box-shadow: 3px 3px 6px #282828;

}

#cardFront {
    z-index: 2;
    grid-column: 1 /span 3;
    grid-row: 1 / 3;
}

#cardBack {
    z-index: 1;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    max-width: 400px;
    
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 100px 50px 150px;
}

.strip {
    background-color: black;
    height: 50px;
    width: 116px;
    grid-row: 1;
    grid-column: 2;
}

.cardFrontTop {
    display: flex;
    justify-content: space-between;
    padding: 0.15em
}

.frontFormTop {
    padding: 0.5em 0em;
    display: grid;
}

#cardNumber {
    width:200px;
}

.frontFormBottom {
    padding: 0.5em 0em;
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.nameForm {
    display: grid;
}

#cardHolderName {
    width:200px;
}

.expirationDateForm {
    display: gird;
    gap: 0.5em;
}

.expirationDateForm input {
    width: 50px;
}

#cardBackForm {
    flex-direction: column;
    padding-left: 1em;
    grid-column: 2;
    grid-row: 2;
}

#securityCode {
    width: 60px;
}

#buttonContainer {
    padding-bottom: 1em;
    grid-column: 4;
    grid-row: 4;
}

button {
    padding: 0.75em 1.5em;
    border-radius: 0.65em;
    border: 1px solid black;
    box-shadow: 3px 3px 6px #282828;
    margin: 0.75em;
    align-self: flex-end;
}