
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Basics */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #ccc;
}

header,
main,
footer {
  border: 1px solid #ccc;
}

h1 {
    text-align: center;
    font-weight: normal;
}


/* Header */
header {
    background-color: rgb(38, 109, 201);
    color: white;
    text-align: center;
}

h1 header {
    color: white;
}

nav {
    padding: 0.5em;
}

nav a {
    padding: 20px;
    color: white; 
    text-decoration: none;
    display: block;
}

nav a:hover {
    text-decoration: none;
    color: yellow;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    display: block;
    margin: 10px auto;
    font-weight: bold;
}

.hide {
    display: none;
}


/* Main */
main {
    padding: 1rem;
}

main h1 {
    padding-bottom: 0.5em;
}

figure {
  padding: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.75em;
  box-shadow: 3px 3px 20px black;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.the-cool-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5em;
}

.image-collection {
    display: grid;
    width: 80%;
    justify-content: center;
    margin: auto;
}

dialog img {
    width: 90%;
    display: block;
    margin: 12vh auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.67);
    border-radius: 1em;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
}

.close-viewer {
    position: absolute;
    top: 4vh;
    right: 4vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

/* Footer */
footer {
    text-align: center;
    background-color: rgb(38, 109, 201);
    padding: 0.5em;
    color: white;
}


/* Change for screen sizes */
@media screen and (min-width: 700px) {
    .image-collection {
        grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

    nav {
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .image-collection {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h1 {
        font-size: medium;
    }
}


/*
    AI Disclaimer: 
    I used duck.ai to help guide me in debugging issues. 
    Copy/Paste was not used with the AI.
    All comments are my own. 
*/