
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    color: #290000;
    padding: 1rem;
    text-align: center;
}

footer {
    padding: 0em;
    margin: 0px 1rem;
    border-top: 2px solid #ffd42a;
}

.main-nav {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
    border-top: 2px solid #ffd42a;
    border-bottom: 2px solid #ffd42a;
}

.main-nav li {
    padding: 8px;
}

.main-nav a {
    color: #b30059;
    text-decoration: none;
}

.book-list {
    padding: 0 1rem;
}

.book {
    border-top: 2px solid #ffd42a;
    padding: 0.5rem 2rem;
    margin: 20px auto;
}

.book-info h2 {
    color: #b30059;
    font-size: 1.35rem;
    text-align: left;
}

.book-info h2 p {
    margin: 1.5rem 0px;
}

.review-info {
    text-align: right;
}

.review-info p {
    padding-right: 2rem;
    margin: 0.1em 0em;
}

.book-info img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

#desc {
    grid-column: 2/4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;

    /* duck.ai was used for this class */
}

@media (min-width: 600px) {

    .book {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        border-top: none;
        max-width: 900px;
    }

    .book-info h2 {
        margin: 0.75em 2.5rem;
    }

    .book-info {
        grid-row: 1/7;
        grid-column: 2/4;
    }

    .review-info {
        grid-row: 1/7;
        grid-column: 1;
        border-right: 2px solid #ffd42a;
    }

    #desc {
        padding: 0.1em 2em;
    }

}
          